server:
  error:
    include-message: always
    include-binding-errors: always

environment:
  secret: 7d7erchmod+%vk2qm=@p$7fap@@$tqmh7lqo=cdgdf0hw#+#7=GUtfda83767t75pOKR5##R6
  apiKey: a93bbe99c497fe15
  tokenExpiryTime: 24

spring:
  datasource:
    password: bowspace
    url: jdbc:postgresql://localhost:5432/bowspace
    username: bowspace
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  mail:
    host: localhost
    port: 1025
    username: hello
    password: hello

    properties:
      mail:
        smtp:
          ssl:
            trust: "*"
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
